ul#removeBullets{
  list-style-type: none;
}
p {
  font-weight: bold;
}
.productGrid li{
  display: inline;
    float: left;
    padding: 10px;
  border: 1px solid red;
  margin-right: 5px;
}
.green-color{
  color:green !important
}
.red-color{
  color: red  !important
}